<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="phpunit.xsd"
	bootstrap="./Bootstrap.php"
	backupGlobals="true"
	cacheTokens ="true"
	convertDeprecationsToExceptions="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions ="true"
	convertWarningsToExceptions ="true"

	beStrictAboutOutputDuringTests ="true"
	beStrictAboutResourceUsageDuringSmallTests ="true"

	verbose="true"
	colors="true">
	<testsuites>
		<testsuite name="CodeIgniter Application Test Suite">
			<directory  phpVersion="4.0.0" phpVersionOperator=">=" suffix="test.php">./</directory>
			<exclude>./_ci_phpunit_test/</exclude>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./controllers</directory>
			<directory suffix=".php">./models</directory>
			<directory suffix=".php">./views</directory>
			<directory suffix=".php">./libraries</directory>
			<directory suffix=".php">./helpers</directory>
			<directory suffix=".php">./hooks</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="../../bin/build/coverage"/>
		<log type="coverage-crap4j" target="../../bin/build/lophpgs/crap4j.xml"/>
		<log type="coverage-text" target="../../bin/build/logs/text.txt"/>
		<log type="coverage-php" target="../../bin/build/logs/test.php"/>
		<log type="coverage-clover" target="../../bin/build/logs/clover.xml"/>
		<log type="junit" target="../../bin/build/logs/junit.xml"/>
		<log type="testdox-html" target="../../bin/build/coverage/testdox.html"/>
  		<log type="testdox-text" target="../../bin/build/logs/testdox.txt"/>
	</logging>
</phpunit>
